mixin about()
  section.about
    .container
      ul.about-content
        li
          h2 О нашем блоге
          p Меня зовут Александр. Я&nbsp;&mdash; увлеченный пекарь. Из-за любви к&nbsp;натуральному хлебу на&nbsp;закваске решил создать этот сайт. Моя миссия&nbsp;&mdash; делиться знаниями, вдохновлять и&nbsp;помогать каждому освоить исскуство хлебопечения.
          p Более двух&nbsp;лет я&nbsp;собираю рецепты, техники и&nbsp;секреты от&nbsp;профессионалов со&nbsp;всего мира, чтобы сделать процесс приготовления хлеба понятным и&nbsp;доступным для всех.
          //- +btn({text: "Узнать больше", href: "#"})
        li
          +img("content", "about-us", "webp", 550, 400, "Замес теста.")

