mixin form()
  section.form
    .container
      form(action="#")
        h2.form__title Подпишитесь на&nbsp;нашу рассылку
        p.form__subtitle Получайте свежие рецепты, советы и&nbsp;секреты хлебопечения прямо на&nbsp;вашу почту
        .form__input-wrapper
          input(type="email", name="user-mail", placeholder="Ваш email")
          +btn({text: "Подписаться", type: "button"})
