mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container.intro-container
      +img("content", "banner", "webp", 1440, 600, " ")
      .intro__content
        h1.intro__title Исскуство хлеба на&nbsp;закваске
        p.intro__subtitle Погрузитесь в&nbsp;мир ароматов натурального хлеба, приготовленного по&nbsp;традиционным рецептам
