mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container.intro-container
      picture
        source(srcset="img/content/banner-mobile.webp" media="(max-width: 410px)" type="image/webp" width="375" height="300")
        +img("content", "banner", "webp", 1440, 600, " ")
      .intro__content
        h1.intro__title Исскуство хлеба на&nbsp;закваске
        p.intro__subtitle.intro__subtitle--novisible-mobile Погрузитесь в&nbsp;мир ароматов натурального хлеба, приготовленного по&nbsp;традиционным рецептам
        p.intro__subtitle.intro__subtitle--novisible-desktop Традиции и современные техники
