mixin tabs()
  section.tabs
    .container
      .tabs__wrapper
        input.tab-input(type="radio" id="id-tab-1")
        input.tab-input(type="radio" id="id-tab-2")
        .tabs__nav
          .tabs__nav-wrapper
            label.tab-btn(for="id-tab-1") tab 1
            label.tab-btn(for="id-tab-2") tab 2
        .tabs__content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eligendi doloremque maxime dicta qui, obcaecati facere aut aliquid id officia tempore quod ratione. Amet, delectus magni dolorum voluptate facere totam!
