mixin tabs()
  section.tabs
    .container
      .tabs__wrapper
        input.tab-input(type="radio" name="id-tab-1" id="id-tab-1" 'checked')
        input.tab-input(type="radio" name="id-tab-2"  id="id-tab-2")
        .tabs__nav
          .tabs__nav-wrapper
            label.tab-btn(for="id-tab-1") tab 1
            label.tab-btn(for="id-tab-2") tab 2
        .tabs__content
          .tab__content(data-tab="1")
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem in excepturi, consectetur voluptatum repellendus eos iusto molestias ab voluptas rem accusantium quis eaque. Harum sed, minus maxime aliquam soluta reprehenderit.
          .tab__content(data-tab="2")
            p ipsum dolor sit amet consectetur, adipisicing elit. Quidem in excepturi, consectetur voluptatum repellendus eos iusto molestias ab voluptas rem accusantium quis eaque. Harum sed, minus maxime aliquam soluta reprehenderit.
