.articles {
  padding: 70px 0;

  @include vp-767 {
    padding: 50px 0 70px;
  }
}

.articles__title {
  margin-top: 0;
  margin-bottom: 70px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
  padding-left: 0;
  list-style-type: none;

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-424 {
    grid-template-columns: 1fr;
  }
}

.articles__item-link {
  color: $color-accent-main;
  font-weight: 700;
  transition: opacity $trans-600;

  &:hover {
    opacity: 0.6;
  }
}
