.footer {
  padding: size(40px) 0 0;
  background-color: $color-shades-of-linen;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: size(30px);
  }

  ul {
    display: flex;
    align-items: center;
    gap: size(25px);
    padding-left: 0;
    list-style-type: none;
  }

  &-nav__list {
    @include vp-767 {
      font-size: size(36px);
    }

    @include vp-474 {
      flex-direction: column;
      justify-content: center;
      font-size: size(48px);
      gap: size(45px);
    }
  }

  .copyright {
    padding-top: size(20px);
    margin: 0;
    width: 100%;
    text-align: center;
    color: $color-default-black;
    opacity: 0.6;
    border-top: size(1px) solid $color-vista-white;

    @include vp-474 {
      font-size: size(32px);
    }
  }
}
