.header {
  padding: 28px 0;
  background-color: $color-default-white;

  &--padding-bottom {
    padding-bottom: 0;
  }

  .container {
    display: flex;
  }

  &__logo {
    justify-self: center;
    color: $color-default-white;
  }
}
