.intro-container {
  position: relative;

  img {
    min-height: 150px;
  }
}

.intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: $color-transparent-70;

  @include vp-767 {
    padding: 10px;
    min-width: calc(100vw - 64px);
  }

  h1 {
    margin-top: 0;
    line-height: 36px;
    text-align: center;

    @include vp-767 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  p {
    margin: 0;
    text-align: center;

    @include vp-767 {
      font-size: 14px;
    }
  }
}

@include vp-767 {
  .intro__subtitle--novisible-mobile {
    display: none;
  }
}

@include vp-768 {
  .intro__subtitle--novisible-desktop {
    display: none;
  }
}
