.intro-container {
  position: relative;

  img {
    min-height: 150px;
  }
}

.intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: size(40px);
  background-color: $color-transparent-70;

  h1 {
    margin-top: 0;
    line-height: size(36px);
  }

  p {
    margin: 0;
  }
}

