.main-nav {
  display: flex;
  margin-left: auto;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    row-gap: 20px;
    column-gap: 40px;
    list-style: none;
  }

  &__link {
    color: $color-default-black;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    align-items: center;
    border: none;
    background-color: $color-transparent;
  }

  @media (min-width: $vp-768) {
    &__toggle {
      display: none;
    }
  }

  @media (max-width: $vp-768) {
    &__wrapper {
      display: none;
    }
  }
}
