.tabs__wrapper {
  padding-bottom: 40px;
  max-width: 100%;
}

.tabs__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    flex: 1;
    position: relative;
    padding: 0 0 20px;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
  }
}

@include vp-767 {
  .tabs__nav-wrapper {
    overflow-x: auto;
    scrollbar-width: none;
  }
}

.tab-btn {
  margin-right: 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #a5a5a6;
  transition: all 0.3s ease;
  white-space: nowrap;
  position: relative;
  flex-shrink: 0;
  background-color: #c17754;
  border: none;
}

@include vp-767 {
  .tab-btn {
    font-size: 14px;
    margin-right: 20px;
  }

  .tabs__nav-wrapper {
    gap: 10px;
  }
}

.tab-btn:hover {
  color: #ff8c1e;
  opacity: 1;
}

.tab-btn.active {
  color: #ff8c1e;
  font-weight: 600;
  opacity: 1;
}

.tab-input {
  position: absolute;
  left: -9999px;
}

.tabs__content {
  position: relative;
  padding: 40px 0 0;

  p {
    margin: 0;
  }
}


/* неактивные */
.tab__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.tab__content.active {
  display: block;
}

#id-tab-1:checked ~ .tabs__nav .tab-btn[for="id-tab-1"] {
  color: #ff8c1e;
  font-weight: 600;
  opacity: 1;
}

#id-tab-1:checked ~ .tabs__content .tab__content[data-tab="1"] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  position: relative;
  pointer-events: auto;
  transition-delay: 0s;
}
