mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Рецепты"
      },
      {
        href: "#",
        text: "Блог"
      },
      {
        href: "#",
        text: "Гид для начинающих"
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        picture
          source(media="(max-width: 767px)" srcset="../../../img/content/logotype.webp" width="50" height="50" type="image/svg+xml")
          img.header__logo(src="../../../img/content/logotype.webp" width="100" height="100" alt="Логотип сайта" aria-label="Логотип")
      else
        a.header__logo(href="index.html" aria-label="Переход на главную")
          picture
            source(media="(max-width: 767px)" srcset="../../../img/content/logotype.webp" width="50" height="50" type="image/svg+xml")
            img(src="../../../img/content/logotype.png" width="100" height="100" alt="Логотип сайта")
      nav.main-nav(data-validate="burger-menu" aria-hidden="true")
        button.main-nav__toggle.btn-reset(type="button", data-validate="burger-toggle" aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 18, 16)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
